<%- include partials/header.ejs %>

<button class="btn col-lg-6 col-sm-12" onclick="location.href='/new-goal'">Create Goal</button>

<% if(goals[0]){
console.log("goals: ", goals)
  goals.forEach((goal)=> { 
  console.log("goal:", goal)%>
  <button class="btn goal-list col-md-4 col-sm-12 sp-btwn" onclick="location.href='/goal/<%= goal.id %>'">
    <!-- <div class="sp-btwn"> -->
      <h2><%= goal.title %></h2>
      <h3><%= goal.commitment %></h3>
    <!-- </div> -->
  </button>
<% })
  } else { %>
  <h2 class="goal-list col-lg-6 col-sm-12">You have no pending goals at this time</h2>
<% } %>
<button class="btn col-lg-6 col-sm-12" onclick="location.href='/account'">Account</button>

<%- include partials/footer.ejs %>